.schedulerize table tbody .schedulerize-time-row td {
    padding: 0px 10px;
}

.schedulerize table tbody .schedulerize-time-row td .schedulerize-event {
    height:20px;
}

.schedulerize-event.schedulerize-blank.schedulerize-free {
    background-color: rgba(100, 100, 100, 0.1) !important;
}

.schedulerize-event {
    padding: 5px;
}

.schedulerize-event.exception {
    background-color:rgba(255, 0, 0, 0.3) !important;
    color: red;
}

.schedulerize-event.availability {
    background-color:rgba(0, 0, 255, 0.3) !important;
    color: blue;
    
}
